<div class="jumbotron">

  <h2>Welcome <%= @user.username %>!</h2>

  <h3>Your albums</h3>

  <% @user.albums.each do |album| %>
    <div class="panel panel-default">
      <div class="panel-heading"><a href="/albums/<%=album.id%>"><%= album.name %></a></div>
      <div class="panel-body">
        <% if !album.pictures.empty? %>
        <%= image_tag album.pictures.first.image.url(:med) %>
        <% else %>
        <%= image_tag("flowers-picture.jpeg") %>
        <% end %>
      </div>
    </div>
  <% end %>

    <%= link_to "Create new album", new_album_path, :class => "btn btn-primary" %>

</div>

