<h2><%= @album.name %></h2>
<% @album.pictures.each do |picture| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= picture.image  %>
    </div>
  </div>
<% end %>

<div class="form-spacing">
  <p>Add a photo to your album</p>
  <div class="form-group">
    <%= form_for @album do |form| %>
      <%= form.fields_for :pictures bootstrap_form_tag url: '/albums/<%= @album.id %>/photos/new' do |f| %>
        <%= f.file_field :image %>
        <%= f.submit 'Add photo' %>
      <% end %>
    <% end %>
  </div>
</div>
